Pandas

- 标签和行号的处理


DataFrame 
- 增删
- 查（单独条件查，多条件查询，范围查询，匹配查询，模糊查询，聚合查询,
去重）


- 改（替换，填补，转换，转置，对列进行拆分，）
- 表关联
- 排序（开窗函数）

In [ ]:
# 读取表
# import pandas as pd
# pd.read_table(file_path, header=None, sep = '', names=cols_list, usecols=['City', 'State'], nrows=n, index_cols=column,  dtype={'beer_servings':float})

# 选取字符类型
# pdf.select_dtypes(include=[np.number])

In [2]:
# 修改字符类型
# drinks['beer_servings'] = drinks.beer_servings.astype(float)

In [131]:
# 在源，删除列
# del df['column name']
# df.pop('B')
# 新建，删除列
# df_dropped = df.drop(columns=['B'])
# df_dropped = df.iloc(:,:-1)

# 删除行
# df.loc[df.index.drop(['b', 'c'])]

# 添加行
"""
# 1. 使用loc方法添加一行  
new_row = {'A': 5, 'B': 6}  
df.loc[len(df)] = new_row  

# 2. 使用concat方法添加新行 
new_row_df = pd.DataFrame({'A': [5], 'B': [6]})  
df = pd.concat([df, new_row_df], ignore_index=True)  
"""

"\n# 1. 使用loc方法添加一行  \nnew_row = {'A': 5, 'B': 6}  \ndf.loc[len(df)] = new_row  \n\n# 2. 使用concat方法添加新行 \nnew_row_df = pd.DataFrame({'A': [5], 'B': [6]})  \ndf = pd.concat([df, new_row_df], ignore_index=True)  \n"

In [ ]:
## 描述
# pdf.describe(include=['float])
# pdf.shape
# pdf.dtypes

In [ ]:
## 定位

# loc和iloc都是pandas工具中定位某一行的函数，二者的区别如下12：
# 索引方式不同：loc是通过行标签名称来索引行数据，而iloc是通过行号来索引行数据。
# 索引的数据类型不同：loc既可以访问整型，也可以访问浮点型等数据类型，而iloc只能访问整型。
# 索引范围不同：loc是前闭后闭区间，即[a,b]包含a和b，而iloc是前闭后开区间，即[a,b)包含a不包含b。

# 直接定位行,列
# pdf[起始行:末尾行] => 以行为base,前闭后开
# pdf['Column name'] => 以列为base

# Loc定位行列
# pdf.loc['row name','column name']
# pdf.loc[0:2,['country','continent']]
# subset = df.loc[['row_label1', 'row_label2'], ['column_name1', 'column_name2']]

# iloc定位行列
# subset = df.iloc[[0, 1], [0, 2]]
# subset = df.iloc[0:1, 0:2]

In [93]:
# Index操作

# 去掉现在的Index，恢复成默认index
# df.reset_index(drop=True)

# 设置index
# df.set_index('A')

In [206]:
import pandas as pd  
  
# 假设你有一个名为 df 的 DataFrame  
df = pd.DataFrame({  
    'A': [1, 1, 2, 2, 3, 3],  
    'B': [1, 1, 1, 2, 2, 2],  
    'C': [4, 3, 2, 1, 5, 6]  
})  
  
# 首先，按照 A 和 B 列进行分组，并按照 C 列排序  
df_sorted = df.sort_values(by=['A', 'B', 'C'])  
  
# 接下来，在排序后的 DataFrame 上使用 rank 方法，但注意 rank 方法默认对整个 DataFrame 进行排名  
# 我们需要分组后对每个组内的数据单独排名  
# 首先创建一个用于分组的键  
grouped = df_sorted.groupby(['A', 'B'])  
  
# 定义一个辅助函数，对每个组应用 rank 方法  
def rank_within_group(group):  
    group['Rank'] = group['C'].rank(method='min', ascending=True)  
    return group  
  
# 应用辅助函数到每个分组  
df_with_rank = grouped.apply(rank_within_group)  
  
# 显示结果  
df_with_rank

       A  B  C  Rank
A B
1 1 1  1  1  3   1.0
    0  1  1  4   2.0
2 1 2  2  1  2   1.0
  2 3  2  2  1   1.0
3 2 4  3  2  5   1.0
    5  3  2  6   2.0

In [1]:
## 排序
# movies.sort_values(['content_rating','duration'],ascending=[True,True],inplace=True)

## 排序并添加索引号,方式一(适用多列排序) Dense Rank
"""
df = pd.DataFrame({  
    'A': [1, 1, 2, 2, 3, 3],  
    'B': [1, 1, 1, 2, 2, 2],  
    'C': [4, 3, 2, 1, 5, 6]  
})   
df_sorted = df.sort_values(by=['A', 'B', 'C'])  
grouped = df_sorted.groupby(['A', 'B'])  
  
# 定义一个辅助函数，对每个组应用 rank 方法  
def rank_within_group(group):  
    group['Rank'] = group['C'].rank(method='min', ascending=True)  
    return group  
  
# 应用辅助函数到每个分组  
df_with_rank = grouped.apply(rank_within_group)  
  
# 显示结果  
df_with_rank
"""


## 排序并添加索引号,方式二（仅使用单列排序）
"""
df = pd.DataFrame({ 'A': [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5],  'B': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']  })  
d1 = df.sort_values(by="A")
d1['rank1'] = d1.A.rank(method="average").astype(float)
d1['rank2'] = d1.A.rank(method="min").astype(int)
d1['rank3'] = d1.A.rank(method="max").astype(int)
d1['rank4'] = d1.A.rank(method="first").astype(int)
d1['rank5'] = d1.A.rank(method="dense").astype(int)
d1

# average: average rank of the group 
# min: lowest rank in the group => MYsql rank() over()
# max: highest rank in the group
# first: ranks assigned in order they appear in the array => MYsql row_number() over()
# dense: like ‘min’, but rank always increases by 1 between groups. => MYsql dense_rank() over()
"""

In [2]:
# 去重
# keep= "First" | "Last" | False (default = False)

# 检查哪些列的值是重复的
# users.column.duplicated(subset=[A,B],keep=False)
# users.column.duplicated(subset=[A,B],keep=False).sum()
# users.duplicated(subset=[A,B],keep=False).shape

# 检查哪些行的值是重复的
# users.duplicated(keep=False) => 计数: users.duplicated(keep=False).sum()

# 只保留第一个不重复的行
# users.loc[users.duplicated(keep="First"),:]

# PDF查看重复的行的数量
# users.column.duplicated(keep=False).shape

# PDF查看不重复的行的数量
# user.drop_duplicates(subset=[A,B]).shape[0]

In [ ]:
# 条件查
# movies[(movies.duration >= 200)&(movies.genre=='Drama')]

# 模糊查询
# movies[movies.title.str.contains("Part II", case=False,  regex=True)]

# 聚合操作
# drinks.groupby(['continent','country']).agg({'beer_servings':'mean','spirit_servings':'mean'}).reset_index()
# movies.duration.mean()
# movies.duration.value_counts()
# movies.genre.nunique()

In [ ]:
# 表关联

# 左关联
# df1.merge(df2, left_on="lkey", right_on="rkey", suffixes=("_left","_right"))
# df1.merge(df2, on="相同列名字") => 不会输出两个关联的列名，只会输出左表的列
# merged_df = pd.merge(df1, df2, on='a', suffixes=('_df1', '_df2'))

# 内关联
# df1.merge(df2, on="lkey", right="rkey", suffixes=("_left","_right"))


# join关联
# join关联需要指定两个表的index,一定且只能通过index进行关联
# df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'], 'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']}).set_index("key")
# other = pd.DataFrame({'key': ['K0', 'K1', 'K2'], 'B': ['B0', 'B1', 'B2']}).set_index("key")
# result = df.join(other, how='left')

In [55]:
# Datetime

"""
from datetime import datetime  
dt = datetime(2023, 3, 15, 10, 30, 0)  # 2023年3月15日 10:30:00  
formatted_date = dt.strftime('%Y-%m-%d %H:%M:%S')  # 输出格式为：2023-03-15 10:30:00  
"""
"""
from datetime import datetime, timedelta 
dt = datetime(2023, 3, 15)  # 2023年3月15日  
new_dt = dt - timedelta(days=5, hours=12, minutes=20, seconds=10)  
"""



# 生成时间表,方式一
# pd.date_range(start="3/19/2024 12:00:00", periods=5, freq="ME")

# 生成时间表,方式二
"""
st = pd.to_datetime('1/3/2018')
et = pd.to_datetime('1/3/2019')
ct = st
rs = []
while ct <= et:
    rs.append(ct)
    nxm = ct+ pd.DateOffset(months=1)
    nxm = nxm.replace(day=3)
    if nxm > et:
        break
    ct = nxm
pd.DatetimeIndex(rs)    
"""

# 转换日期格式
# df = pd.DataFrame({'日期':['2023-01-01', '2023-01-02', '2023-01-03']})
# df['日期'] = pd.to_datetime(df['日期'])

# 日期加减操作
"""
s = pd.Series(pd.date_range("2012-1-1", periods=3, freq="D"))
td = pd.Series([pd.Timedelta(days=i) for i in range(3)])
df = pd.DataFrame({"A": s, "B": td})
df["C"] = df["A"] + df["B"]
"""

"\nst = pd.to_datetime('1/3/2018')\net = pd.to_datetime('1/3/2019')\nct = st\nrs = []\nwhile ct <= et:\n    rs.append(ct)\n    nxm = ct+ pd.DateOffset(months=1)\n    nxm = nxm.replace(day=3)\n    if nxm > et:\n        break\n    ct = nxm\npd.DatetimeIndex(rs)    \n"

In [104]:
# NaN, None, Fill操作

# 总的来说，NaN和None是Pandas中用于表示缺失值的两个主要方法，它们分别对应浮点数和其他数据类型。而null通常被视为一个更通用的术语，用于描述任何类型的缺失值，
# 但在Pandas的具体实现中，你更可能会使用NaN、None或pd.NA（对于可扩展数组）。
# pd.isna()和pd.isnull()函数都可以用来检测这些类型的缺失值。

"""
from numpy import NaN
df = pd.DataFrame({'A': [1, 2, 3],'B': [4, NaN, 6],'C': ['A', 'B', None]}, index=['x', 'y', 'z'])
display(df.B.isnull())
display(df.B.isna())
display(~df.B.notnull())
display(~df.B.notna())
"""

# 删掉NA
# ufo.dropna(how='any').shape
# ufo.dropna(axis=0, how="any",thresh=10, subset=['colA','colB'])

# 填充NA
"""
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   [np.nan, 3, np.nan, 4]],
                  columns=list("ABCD"))
display(df)
display(df.fillna(value =  {"A": 0, "B": 1, "C": 2, "D": 3}))
display(df.fillna(method="bfill"))

df2 = pd.DataFrame(np.zeros((4, 4)), columns=list("ABCE"))
df.fillna(df2)
"""

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

     A    B    C    D
0  0.0  2.0  2.0  0.0
1  3.0  4.0  2.0  1.0
2  0.0  1.0  2.0  3.0
3  0.0  3.0  2.0  4.0

C:\Users\eric.huang\AppData\Local\Temp\ipykernel_1472\83059700.py:29: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  display(df.fillna(method="bfill"))

     A    B   C    D
0  3.0  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  3.0 NaN  4.0
3  NaN  3.0 NaN  4.0

In [1]:
# DataFrame.loc 
# 是 Pandas 中用于基于标签的索引方式，它后面通常跟行标签和列标签作为参数。
# 行标签通常是索引（index），而列标签是列名（column names）。

import pandas as pd

# 创建一个简单的DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}, index=['x', 'y', 'z'])

# 使用.loc选择单个元素
# 选择行标签为'x'且列标签为'A'的元素
element = df.loc['x', 'A']
print(element)  # 输出: 1

# 使用.loc选择多行多列
# 选择行标签为'x'和'y'的所有列
subset = df.loc[['x', 'y']]
print(subset)

# 选择行标签为'x'和'y'，列标签为'A'和'B'的子集
subset = df.loc[['x', 'y'], ['A', 'B']]
print(subset)

# 使用.loc选择单列
# 选择列标签为'A'的所有行
column_subset = df.loc[:, 'A']
print(column_subset)

# 使用.loc选择单行
# 选择行标签为'y'的所有列
row_subset = df.loc['y']
print(row_subset)

# 使用.loc选择满足条件的行
# 选择列'A'值大于1的所有行
condition_subset = df.loc[df['A'] > 1]
print(condition_subset)

1
   A  B  C
x  1  4  7
y  2  5  8
   A  B
x  1  4
y  2  5
x    1
y    2
z    3
Name: A, dtype: int64
A    2
B    5
C    8
Name: y, dtype: int64
   A  B  C
y  2  5  8
z  3  6  9

In [216]:
## lamda
## apply 方法默认应用于 DataFrame 的列
## 但通过设置 axis 参数，也可以使其应用于行。

## 清洗数据
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie']})
df["Name"].apply(lambda x: x.upper())

## 对行处理
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})  
df['最大值'] = df.apply(lambda row: row.max(), axis=1)
df['求和'] = df.apply(lambda row: row['A'] + row["B"], axis=1)

# 对组进行处理
df = pd.DataFrame({'Group': ['A', 'A', 'B', 'B'], 'Value': [1.5, 2.3, 3.7, 4.1]})  
result = df.groupby('Group')['Value'].agg(lambda x: x.mean())

0      ALICE
1        BOB
2    CHARLIE
Name: Name, dtype: object

In [231]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})  
import numpy as np
# 定义一个自定义函数，计算每个元素的平方根  
def sqrt_func(x):  
    return np.sqrt(x)  
  
# 使用 apply 和自定义函数计算每列的平方根  
df_sqrt = df.apply(sqrt_func)
df_sqrt

          A         B
0  1.000000  2.000000
1  1.414214  2.236068
2  1.732051  2.449490